executor {
	$slurm {
		queueSize = 800
	}
}

process {
    withName: filter_anchors {
            executor = "slurm"
            container = "scr.svc.stanford.edu/khoang99/containers/basic_r"
            clusterOptions = '--partition=owners,horence'
            errorStrategy = {task.exitStatus in [137] ? "retry" : "terminate"}
            cpus = 2
            memory = {64.GB * task.attempt}
            time = {2.h * task.attempt}
            maxRetries = 3
	}
    withName: create_seq_reprs {
            executor = "slurm"
            clusterOptions = '--partition=owners,horence'
            container = "scr.svc.stanford.edu/khoang99/containers/basic_r" 
            errorStrategy = {task.exitStatus in [137] ? "retry" : "terminate"}
            memory = {64.GB * task.attempt}
            time = {5.h * task.attempt}
            maxRetries = 3
	}
    withName: create_aux_reprs {
            executor = "slurm"
            clusterOptions = '--partition=owners,horence'
            container = "scr.svc.stanford.edu/khoang99/containers/python-sequtils-blast-splash-pfam" 
            errorStrategy = {task.exitStatus in [137] ? "retry" : "terminate"}
            memory = {32.GB * task.attempt}
            time = {5.h * task.attempt}
            maxRetries = 3
	}
    withName: embed_evo {
            executor = "slurm"
            clusterOptions = '--constraint="(GPU_MEM:24GB|GPU_MEM:32GB|GPU_MEM:48GB|GPU_MEM:80GB)&(GPU_CC:8.6|GPU_CC:9.0|GPU_CC:8.9)" --partition=owners,gpu --gpus 1'
            container = "scr.svc.stanford.edu/khoang99/containers/evo_env" 
            errorStrategy = {task.exitStatus in [137] ? "retry" : "terminate"}
            cpus = 1
            memory = {24.GB * task.attempt}
            time = {6.h * task.attempt}
            maxRetries = 0
	}
    withName: embed_esm {
            executor = "slurm"
            clusterOptions = '--constraint="(GPU_MEM:24GB|GPU_MEM:32GB|GPU_MEM:48GB|GPU_MEM:80GB)&(GPU_CC:8.6|GPU_CC:9.0|GPU_CC:8.9)" --partition=owners,gpu --gpus 1'
            container = "" 
            errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
            cpus = 2
            memory = {24.GB * task.attempt}
            time = {6.h * task.attempt}
            maxRetries = 3
	}
    withName: embed_gpn {
            executor = "slurm"
            clusterOptions = '--constraint="(GPU_MEM:24GB|GPU_MEM:32GB|GPU_MEM:48GB|GPU_MEM:80GB)&(GPU_CC:8.6|GPU_CC:9.0|GPU_CC:8.9)" --partition=owners,gpu --gpus 1'
            container = "" 
            errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
            cpus = 2
            memory = {24.GB * task.attempt}
            time = {6.h * task.attempt}
            maxRetries = 3
	}
    withName: concat_embeddings {
            executor = "slurm"
            container = "" 
            errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
            cpus = 2
            memory = {24.GB * task.attempt}
            time = {2.h * task.attempt}
            maxRetries = 3
    }
    wthName: reduce_dim {
            executor = "slurm"
            container = "" 
            errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
            cpus = 2
            memory = {24.GB * task.attempt}
            time = {2.h * task.attempt}
            maxRetries = 3
    }
    wthName: classify {
            executor = "slurm"
            container = "" 
            errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
            cpus = 2
            memory = {24.GB * task.attempt}
            time = {2.h * task.attempt}
            maxRetries = 3
    }
    wthName: annotate {
            executor = "slurm"
            container = "" 
            errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
            cpus = 2
            memory = {24.GB}
            time = {5.h * task.attempt}
            maxRetries = 3
    }
}

singularity {
	enabled = true
	autoMounts = true
    bind = "{$OAK}"
    cacheDir = "/scratch/groups/horence/khoa/singularity_imgs"
}